@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  color: white;
  background: linear-gradient(#232b3d, #298d83);
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.tab-title {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 5%;
  cursor: pointer;
  position: relative;
}
.tab-toggle:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  bottom: 10px;
  left: 25%;
  background: #07f4dd;
}
.home {
  min-height: 100vh;
  display: flex;
  margin: 0% 5%;
  align-items: center;
}
.login-form {
  height: 450px;
  width: 400px;
  border-radius: 2%;
  background: #272727;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 20px 3px #20897f;
}
.alert {
  display: block;
  transition: 0.2s ease;
  padding: 5px;
  border-radius: 3px;
  margin: bold;
  margin: 10px 0px;
}
.success-alert {
  border: 1px solid green;
  color: greenyellow;
}
.error-alert {
  border: 1px solid red;
  color: red;
}

form {
  padding: 5% 10%;
}
input:not([type="checkbox"]) {
  background: transparent;
  color: white;
  outline: none;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: none;
  margin: 10px 0px;
  transition: all 0.4s ease;
  border-bottom: 1px solid gray;
}
input:not([type="checkbox"]):hover,
input:not([type="checkbox"]):focus {
  border-bottom: 1px solid cyan;
}
input[type="checkbox"] {
  accent-color: #1cb6a6;
  cursor: pointer;
  height: 12px;
}
.Remember label {
  cursor: pointer;
  user-select: none;
}
button {
  display: block;
  cursor: pointer;
  margin: 20px auto;
  padding: 5px 15px;
  color: white;
  background: #1cb6a6;
  border: none;
  transition: transform 0.2s ease;
  border-radius: 5px;
}
button:hover {
  transform: scale(1.05);
}
button:disabled {
  background: #cccccc;
  color: #666666;
}
.forgot-pass {
  margin-top: 4px;
  color: cyan;
  text-decoration: underline;
  cursor: pointer;
}
