@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  color: white;
  background: linear-gradient(#232b3d, #298d83);
}
.tab-title {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 5%;
  cursor: pointer;
  position: relative;
}
.tab-toggle:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  bottom: 10px;
  left: 25%;
  background: #07f4dd;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.login-form {
  height: 450px;
  width: 400px;
  border-radius: 2%;
  background: #272727;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 20px 3px #20897f;
}
form {
  padding: 5% 10%;
}
input {
  background: transparent;
  color: white;
  outline: none;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: none;
  margin: 10px 0px;
  border-bottom: 1px solid gray;
}
input:hover,
input:focus {
  border-bottom: 1px solid cyan;
}
button {
  display: block;
  cursor: pointer;
  margin: auto;
  padding: 5px 15px;
  color: white;
  background: #1cb6a6;
  border: none;
  border-radius: 5px;
}
